<h3>Trip to Poetic Systems</h3>
<h4>Day - Wednesday 3/30/16</h4>
<h4>Time - 12:50</h4>
<h4>Where - 675 Bering Dr #725</h4>
<br>
<h5>We will meet in the lobby of the building NO LATER than 12:50pm.</h5>
