<h3>Professional Headshots</h3>
<h4>This Thursday Dana Duncan will be taking headshots for your portfolio, LinkedIn, etc.</h4>
<p>
  <%= image_tag "https://img.buzzfeed.com/buzzfeed-static/static/2016-01/8/10/enhanced/webdr13/anigif_original-17233-1452266769-15.gif", :class => "rounded" %>
</p>
