<section>
  <h3>Tech Meetups This Week</h3>
<br>
  <em>"<%= meetup.name %>"</em>
<br>
<br>
  <h4><%= meetup.group.name %></h4>
  <h5><%= Time.at(meetup.time/1000).strftime('%a, %b %d - %l:%M%p') %> @ <%= meetup.venue.name %></h5>
<br>
</section>
