<section>
  <h2>Guest Speaker</h2>
  <h3> <%= speaker.date %> </h3>
  <h3> <%= speaker.name %>  </h3>
  <h3> <%= speaker.company %>  </h3>
  <h3> <%= image_tag(speaker.pic, :class => "circle") %></h3>
</section>
