---
title: Welcome to Middleman
---
<div class="reveal">

  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">

    <!-- Slide 1 -->
				<section>
					<h2><%= Date.today.strftime("%A, %b %d") %></h2>

					<img src="/images/logo_big.png" alt="" />

				</section>

<!-- Demo Day Slide -->

		<section>
			<h2>Welcome to Demo Day!</h2>

			<h3>See all projects at</h3>
			<h3>theironyarddemoday.com</h3>

		</section>

		<section>
			<h2>Congratulations Students!</h2>

			<h3>You all are amazing.</h3>
			<h3>We can't wait to see where you go from here!</h3>

		</section>

		<section>
			<div id="images"></div>
		</section>




  </div>
</div>
